body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 33px;
}

.header .logo {
  width: 213px;
}

.header h1 {
  margin: 0;
}

.header > * {
  padding: 0 15px;
}

.header .section .info_text {
  display: flex;
  flex-direction: column;
}

.header .section .info_box {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.header .section .info_title {
  color: #dd3751;
  font-size: 16px;
  font-weight: 600;
}

.header .section .info_text {
  font-size: 14px;
}

.header .address .fa-home,
.header .email .fa-envelope,
.header .phone .fa-phone {
  font-size: 18px;
  width: 40px;
  line-height: 38px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  color: #dd3751;
}

.header .logo a {
  text-decoration: none;
  color: #dd3751;
}

#home-page {
  text-align: center;
}

#home-page img {
  width: 100%;
  height: 100%;
}

#home-page,
#fleet-page {
  min-height: 475px;
}

#fleet-page #car-types {
  display: flex;
  flex-wrap: wrap;
}

#fleet-page #car-types .type {
  width: 33.3%;
}

#car-types .type img {
  width: 100%;
  height: 190px;
}

#car-types .type h3 {
  margin: 0;
  color: #dd3751;
  text-align: center;
}

header .nav__items {
  list-style-type: none;
  display: flex;
}

header .nav__items .nav__item {
  margin: 0 20px;
  padding: 14px 0;
}

header #nav__bar {
  background: #1c2b39;
}

.nav__items .nav__link {
  text-decoration: none;
  color: white;
}

#footer {
  background: #1c2b39;
  color: white;
  padding: 12px 0;
  margin-top: 16px;
}

#footer h2 {
  margin: 16px 0 0;
  text-align: center;
  margin: 0;
}

#footer .social-media-links {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 32px;
  align-items: center;
}

#footer .social-media-links i {
  font-size: 32px;
  color: white;
}

#locations {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#locations table {
  border-collapse: collapse;
  max-width: 50%;
}

#locations {
  margin-bottom: 50px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#map {
  min-height: 475px;
  width: 500px;
}

#clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto 50px;
  text-align: center;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client img {
  width: 50%;
}

main h1 {
  text-align: center;
}

main p {
  padding: 0 100px;
  font-size: 18px;
}

#home-page .home-caption {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .header .section .info_box {
    flex-direction: column;
  }

  .header h1 {
    text-align: center;
  }

  .header .section .info_text {
    text-align: center;
  }

  #home-page,
  #fleet-page {
    min-height: auto;
  }

  #home-page img {
    display: none;
  }

  #home-page .home-caption {
    display: block;
    font-size: 110px;
  }

  main p {
    padding: 0 12px;
  }

  #locations {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
    width: calc(100vw - 12px);
  }

  #locations #map {
    width: 100%;
  }

  #clients {
    grid-template-columns: 1fr;
    width: auto;
    margin: 0;
    gap: 30px;
  }

  #locations table {
    display: table;
    width: 100%;
    max-width: none;
  }

  #locations table td,
  #locations table th {
    overflow-wrap: anywhere;
  }

  #locations table tr td:first-child,
  #locations table tr th:first-child {
    width: 30%;
  }

  #fleet-page #car-types {
    flex-direction: column;
  }
  #fleet-page #car-types .type {
    width: auto;
  }
}
